.glass{
    font-style: italic;
    font-family: cursive;
    font-variant: normal;
    font-weight: normal;
    font-size: 16;
    line-height: 3;
}
h2{
    color:aqua;
    font-style: normal;
    font-family: serif;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 3;
}
.color{
    color: rgba;
    font-size: medium;
    font-family:cursive;
    font-style: italic;
    font-size: 16px;
    background-color:darkturquoise;
}
.Art{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.glaa{
    font-style: italic;
    font-family: cursive;
    font-variant: normal;
    font-weight: normal;
    font-size: 16;
    line-height: 3;
}
glss{
    font-style: italic;
    font-family: cursive;
    font-variant: normal;
    font-weight: normal;
    font-size: 16;
    line-height: 3;
}